{% extends "account/base.html" %}

{% load account %}

{% block head_title %} - Confirm E-mail Address{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-5">
      <h2>Confirm E-mail Address</h2>
      {% user_display email_address.user as user_display %}
      <p>
        You have confirmed that <a href="mailto:{{ email }}">{{ email }}</a>
        is an e-mail address for user {{ user_display }}.
      </p>
    </div>
  </div>
{% endblock %}
