#timezone-info {
    border-bottom: 1px dotted black;
}

.front-data {
    float: right;
    width: 200px;
    display: flow-root;
}

.front-data-big {
    float: right;
    width: 300px;
    display: flow-root;

    .progress {
        width: 250px;
    }
}

.front-line {
    margin-top: 12px;
    margin-bottom: 12px;
    clear: both;
}

.front-border {

    @include large-and-up {
        border-right: 1px solid lightgray;
    }
}

.sticky-div {

    @include large-and-up {
        position: sticky;
        -webkit-position: sticky; /* for safari */
        top: 15px;
    }
}
